@import '../../global.scss';

.topbar {
    background-color: white;
    color: $mainColor;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display:flex;
            align-items: center;

            .logo {
                margin-right: 40px;
                font-size: 36px;
                font-weight: bold;
                text-decoration: none;
                color:inherit;
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                .icon{
                    font-size: 18px;
                    margin-right: 5px;
                }

                span{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .right {
            

            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span{
                    background-image: linear-gradient(
                    to left,
                    rgb(72, 61, 231),
                    rgb(238, 224, 251)
                    );
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 0.5s ease;
                    margin: auto;

                    &:nth-child(2){
                        width: 50%;
                    }
                }
            }
        }
    }

    &.active{
        background-color: $mainColor;
        color:white;

        .hamburger{

            span{
                &:first-child{
                    background-color:white;
                    transform: rotate(45deg)
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-45deg)
                }
            }
        }
    }
}