.contact {
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;



    h1 {
        margin: auto;
    }

    .left{
        height: 80%;
        margin: auto;
        flex: 0.5;
    
    }

    .right{
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: 0.5;

        form{
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                font-size: 16px;
                margin-bottom: 30px;
                height: 37px;
                width: 350px;
            }

            textarea {
                font-size: 16px;
                margin-bottom: 30px;
            }

            button{
                width: 80px;
                height: 34px;
                border-radius: 10px;
                color:whitesmoke;
                border: none;
                cursor: pointer;
                background-color: green;

                &:focus{
                    outline: none;
                }
            }
        }
    }





}
