.app {
    height: 100vh;

    .sections{
        width: 100vw;
        background-color: grey;
        position: relative;
        top: 40px;
        // scroll-snap-type: y mandatory;
        // scroll-snap-align: start;
        // scrollbar-width: none; //firefox
        // &::-webkit-scrollbar{
        //     display: none;
        // }
        // scroll-behavior: smooth;

        // > *{
        //     // width: 100vw;
        //     // height: calc(100vh - 70px);
            
        // }
    }
}