.app {
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100% - 40px);
        background-color: grey;
        position: relative;
        top: 40px;
        // scroll-snap-type: y mandatory;
        scrollbar-width: none; //firefox
        &::-webkit-scrollbar{
            display: none;
        }
        scroll-behavior: smooth;

        > *{
            width: 100vw;
            // height: calc(100vh - 70px);
            // scroll-snap-align: start;
        }
    }
}