.app {
    height: 100vh;

    .sections{
        width: 100%;
        background-color: grey;
        position: relative;
        top: 50px;
        // scrollbar-width: none; //firefox
        // &::-webkit-scrollbar{
        //     display: none;
        // }
        // scroll-behavior: smooth;

        > *{
            width: 100vw;
            // height: calc(100vh - 70px);
            // scroll-snap-align: start;
        }
    }
}